.quizmaster-audio-player {
	display: inline;
}
.quizmaster-audio-player .myButton_play {
	background: transparent url(../image/round-play-button-black.png) no-repeat !important;
	cursor: pointer !important;
	width: 32px !important;
	height: 32px !important;
	border: none !important;
	position: relative;
	margin: 0 !important;
	padding: 0 !important;
}
.quizmaster-audio-player .myButton_stop {
	background: transparent url(../image/round-pause-button-black.png) no-repeat !important;
	cursor: pointer !important;
	width: 32px !important;
	height: 32px !important;
	border: none !important;
	position: relative;
	margin: 0 !important;
	padding: 0 !important;
}
